@media (max-width: 575.98px) {
    .cust-container {
        width: 100%;
    }

    .search-bar {
        order: 1;
        width: 100%;
        padding: 0.5rem 0.5rem;
    }

    .cust-logo {
        margin-left: 10px;
        width: 20%;
    }

    .account {
        margin-left: 45%;
        width: 20%;
    }

    .cart {
        width: 10%;
    }

    .sm-hide {
        display: none;
    }

    .my-account {
        justify-content: right;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .cust-container {
        width: 100%;
    }

    .search-bar {
        order: 1;
        width: 100%;
        padding: 0.5rem 0.5rem;
    }

    .cust-logo {
        margin-left: 10px;
        width: 20%;
    }

    .account {
        margin-left: 50%;
        width: 18%;
    }

    .cart {
        width: 10%;
    }
}

@media (min-width: 992px) {
    .cust-container {
        width: 80%;
        gap: 1rem;
    }

    .search-bar {
        flex: 30%
    }
}

.my-container {
    background-color: white;
}

.cust-container {
    margin: 0px auto;
    padding-block: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

.custom-navbar {
    background-color: rgb(50, 71, 163);
}

.custom-input {
    border: none;
    background-color: #ededed;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    padding-left: 1rem;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #ededed;
}

.my-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    background-color: #ededed;
    border: none;
}

.my-button:active,
.my-button:hover {
    outline: none;
    box-shadow: none;
}

.my-account {
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.47rem;
}

.my-account:hover {
    border-radius: 10px;
    opacity: 0.84;
}

a {
    color: black;
    text-decoration: none;
}

.cust-svg {
    max-width: 100%;
    height: auto;
    margin-right: 0.5rem;
}