/* Phone devices */
@media (max-width: 575.98px){
    html{
        font-size: 1.8vw;
    }
    .cust-container{
        width: 100%;
        margin: 0;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-bar{
        order: 1;
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .cust-logo{
        margin-left: 10px;
        width: 20%;
    }
    .account{
        margin-left: 45%;
        width: 20%;
    }
    .cart{
        width: 10%;
    }
}

/* Tablet devices */
@media (min-width: 576px) and (max-width: 991.98px){
    html{
        font-size: 1.4vw;
    }
    .cust-container{
        width: 100%;
        margin: 0;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-bar{
        order: 1;
        width: 100%;
        padding: 0.5rem 0.5rem;
    }
    .cust-logo{
        margin-left: 10px;
        width: 20%;
    }
    .account{
        margin-left: 50%;
        width: 18%;
    }
    .cart{
        width: 10%;
    }
}

/* Large devices */
@media (min-width: 992px){
    html{
        font-size: 0.9vw;
    }

    .cust-container{
        width: 80%;
        margin: 0px auto;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        align-items: center;
        gap: 1rem;
    }
    .cust-logo{

    }
    .search-bar{
        flex: 30%
    }
}

img#logo{
    width: 15rem;
}

.custom-navbar {
    background-color: rgb(50, 71, 163);
}

.custom-input{
    border: none;
    background-color: #ededed;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    padding-left: 1rem;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #ededed;
}

.my-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    background-color: #ededed;
    border: none;
}

.my-button:active, .my-button:hover{
    outline: none;
    box-shadow: none;
}

.my-account{
   padding-top: 0.4rem;
   padding-bottom: 0.5rem;
   padding-left: 0.4rem;
   padding-right: 0.47rem;
}

.my-account:hover{
    background-color: blue;
    border-radius: 10px;
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

.cust-svg {
    max-width: 100%;
    height: auto; /* To maintain the aspect ratio */
    margin-right: 0.5rem;
}
