@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mukta&family=Oswald&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

.main-container-item {
    width: 90%;
    margin: 0 auto;
}

/* For filter block */
.cust-filter {
    margin-top: 0.5rem;
    padding: 0;
    width: 17%;
    height: auto;
    background-color: white;
}

.cust-filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 0.4rem;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
}

.cust-filter-text {
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.cust-filter-header a {
    display: block;
    font-size: 0.7rem;
    color: blue;
}

.cust-filter-content {
    padding-block: 0.5rem;
    padding-inline: 0.4rem;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
}

.cust-filter-content label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}

.categories {
    font-size: 0.9rem;
    font-weight: 600;
}

.price-filter {
    padding-block: 0.5rem;
    padding-inline: 0.4rem;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
}

.price-filter label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}

.price-slider {
    padding-block: 0;
    padding-inline: 0.7rem;
}

.price-range {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
    padding-inline: 0.6rem;
}

.price-start-range {
    flex: 3;
    text-align: left;
}

.price-to-text {
    flex: 1;
    text-align: center;
}

.price-end-range {
    flex: 3;
    text-align: right;
}

.float-left {
    float: left;
}

.search-container {
    padding-top: 0.3rem;
}

.search-input {
    width: 100%;
    padding: 0.3rem 0.3rem;
    background-color: transparent;
    font-size: 0.8rem;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 100% center;
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid #575756;
    outline: 0;
}

.search-input:focus {
    background-color: white;
    border-bottom: 2px solid blue;
}

/* For item list block*/
.item-list-header{
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.item-list {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    height: auto;
    width: 80%;
    background-color: white;
    padding: 0rem;
}

.item-display-main {
    display: flex;
    width: 100%;
    margin-top: 0.4rem;
    height: 25vh;
    padding-block: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
    padding-inline: 0.4rem;
}

.item-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.item-display-main img {
    height: 100%;
}

.item-display-desc {
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    flex: 3;
}

.item-display-desc h5{
    font-size: 1.3rem;
}

.item-features {
    color: black;
}

.display-price {
    color: black;
    display: flex;
    justify-content: flex-start;
    flex: 2;
}

.display-price h3 {
    font-weight: 500;
}