.auth-container{
    justify-content: center;
    align-items: center;
    width: 25rem; 
    margin: 20px auto;
}

img {
    max-width: 100%;
    height: auto;
}

.image-container{
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.custom-card{
    padding: 0rem;
}

.custom-label {
    margin-top: 0.4rem;
}

.submitbutton{
    border: none;
    border-radius: 6px;
    width: 100%;
    color: #fff;
}

div.horizontal-ruler{
    flex-grow: 1;
      height: 1px;
      background-color: #000; /* Adjust the color as needed */
      margin: 0 10px; /* Adjust the margin as needed */
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: gray;
    font-size: 0.8rem;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}