@media (max-width: 575.98px){
.main-container{
    width: 100%;
    margin: 0;
}
}

@media (min-width: 576px) and (max-width: 991.98px){
    .main-container{
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .main-container{
        width: 80%;
        margin: 0 auto;
    }
}

.main-container{
    position: relative;
    padding: 0.6rem;
}