@media (max-width: 575.98px) {
  .swiper {
    height: 30vw;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-wrapper {
    overflow-x: auto;
  }

  .sm-font {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .swiper {
    height: 28vmin;
  }
  .sm-font{
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  .swiper {
    height: 14vmax;
  }
  .sm-font{
    font-size: 1rem;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-block{
  margin-top: 0.8rem;
  background-color: white;
  padding: 0.6rem;
}

.swiper-block > a {
  display: block;
}

.swiper-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-title-text{
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 0.1rem;
  padding-bottom: 0.6rem;
  color: black;
}

.show-more{
  color: blue;
  text-decoration: underline;
  padding-right: 1rem;
}

.swiper {
  width: 100%;
  margin-top: 0;
  min-height: 100%;
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

.swiper-slide {
  position: relative;
  background-color: whitesmoke;
  padding-inline: 0.9rem;
  padding-block-start: 0.9rem;
  border: none;
}

.swiper-slide a {
  display: block;
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 74%;
  max-height: 100%;
  margin: 0 auto;
}

.slide-image-caption {
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

.slide-image-description {
  width: 100%;
  text-align: center;
}

.swiper-button-prev {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.swiper-button-next {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.swiper-button-prev, .swiper-button-next{
  width: 1%;
  height: 2%;
  background-color: white;
  color: black;
  padding-block: 2%;
  padding-inline: 1%;
  margin: 0;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4px;
  position: absolute;
}
.swiper-button-prev::after, .swiper-button-next::after{
  width: auto;
  height: auto;
  font-size: 13px;
  font-weight: 900;
}